html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root{
	--bg-pink: #F2E3DB;
	--bg-blue: #D9D9D9;
	--bg-white: #FFFFFF;
	--bg-black: #263A29;
	--bg-orange: #E86A33;
	--font-color1: #41644A;
	--font-color2: #263A29;
}

body{
	background-color: var(--bg-pink);
}
#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#container > header, #container > div, #container > footer{
		width: 90vw;
}
header{
	border-bottom: 2px solid black;
	height: 50px;
	color: var(--font-color1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header div, header span{
	display: inline-block;
	font-size: 22px;
}
header a{
	text-decoration: none;
	color: var(--font-color1);
}
header #welcome{
	margin-left: 80px;
}
header #navbar{
	margin-right: 80px;
	padding: 10px;
}
#introduction{
	height: 518px;
	background-image: url("./assets/Dish Backgrounds.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}
.intro{
	width: 493px;
	height: 207px;
	padding: 10px;
	display: inline-block;
	margin-left: 40px;
	text-align: center;
}
.intro h2{
	color: var(--font-color1);
	font-size: 27px;
	text-decoration: underline;
}
.intro p{
	color: var(--font-color2);
	font-size: 22px;
}
.intro button{
	padding: 10px 20px;
	border-radius: 15px;
}
.intro #order{
	background-color: var(--bg-white);
}
.intro #visit{
	background-color: var(--bg-orange);
}
#greetings{
	
	height: 456px;
	background-color: var(--bg-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#greets{
	position: relative;
}
#greets::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid black;
}
#greetings h3{
	text-align: center;
}
#greetings p{
	width: 50%;
}
#owner{
	display: flex;
	width: 80vw;
	height: 441px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border-bottom: 1px solid black;
}
#owner div{
	margin-left: 10px;
}
#owner-says{
	width: 50%;
}
#owner-img{
	width: 30%;
	height: 241px;
	border-radius: 20%;
}
#owner-img img{
	width: 220px;
	height: 100%;
	object-fit: cover;	
}
footer{
	height: 167px;
	background-color: var(--bg-blue);
	display: flex;
	justify-content: space-between;
}
#address{
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
#address span{
	display: block;
}
#social-media{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#social-media img{
	width: 30px;
	height: 30px;
}